#Ignore file for LearningCsharp Repo

#Ignore File types


#Ignore Snap files
snap/Properties/*
snap/obj/*
snap/bin/*
snap/snap.6.0.ReSharper.user
snap/snap.suo

#NOT Ignored Snap Files
!snap/Properties/AssemblyInfo.cs

#Ignore Csharp files (my personal work from the book)
csharp/Properties/*
!snap/Properties/AssemblyInfo.cs
csharp/obj/*
csharp/bin/*